<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <title>{% block titolo %}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
  <nav>
    <a href="/" {% if request.endpoint == 'home' %}class="active"{% endif %}>Home</a>
    <a href="/catalogo/" {% if request.endpoint == 'catalogo' %}class="active"{% endif %}>Catalogo</a>
    <a href="/addLibro/" {% if request.endpoint == 'addLibro' %}class="active"{% endif %}>Aggiungi Libro</a>
    <a href="/addAutore/" {% if request.endpoint == 'addAutore' %}class="active"{% endif %}>Aggiungi Autore</a>

    {% if 'username' in session %}
        <a href="/prestito/" {% if request.endpoint == 'prestiti' %}class="active"{% endif %}>Prestiti</a>
        <a href="/logout/" {% if request.endpoint == 'logout' %}class="active"{% endif %}>Logout</a>
    {% else %}
        <a href="/registrati/" {% if request.endpoint == 'registrati' %}class="active"{% endif %}>Registrati</a>
        <a href="/login/" {% if request.endpoint == 'login' %}class="active"{% endif %}>Login</a>
    {% endif %}
  </nav>

  <h1>{% block intestazione %}{% endblock %}</h1>

  <p>{% block corpo %}{% endblock %}</p>

  <footer>
    <p>&copy; PCTO INMATICA GRUPPO DI GIACOMO - BERARDI</p>
  </footer>
</body>
</html>
